Source: sorttable
Section: misc
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Otto J Wittner <otto.wittner@sikt.no>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.7.0.0
Homepage: https://www.kryogenix.org/code/browser/sorttable/
#Vcs-Git: 
#Vcs-Browser: 

Package: libjs-sorttable
Architecture: all
Description: Javascript lib to make tables sorttable
 Javascript library to make html tables sorttable. Developed by Stuart Langridge.



